*{
    margin: 0;
}
.flex{
    height: 500px;
    background: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 3s;
}
.circle:hover{
    border-radius: 50%;
    background-color: blue;
    transition: 1s;
}
