p{
    color: coral;
    /*font-size: 32px;*/
    width: 30%;
    height: 50px;
    background-color: rgba(250, 135, 221, 0.56);
    display: inline;
}
h2, h3 {
    color: blue;
}
sub{
    color: tan;
    font-size: 12px;
}
span{
    color: darkgreen;
    /*font-size: 50px;*/
    width: 30%;
    height: 50px;
    background-color: lightskyblue;
    display: block;
}
